@import url("/general.css");
/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-light-2); */
  background-color: #b0fff1;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-5);
  font-weight: 500;
  font-size: 1.8rem;
  transition: var(--transition);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-shade-1);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--white);
  background-color: var(--primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--primary-shade-1);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--grey-5);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding: 4.8rem 0 4.8rem 0;
  height: 85vh;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  overflow: hidden;
}

/**************************/
/* About us */
/**************************/

.section-aboutus {
  margin: 5rem auto;
}

.aboutus {
  max-width: 130rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  margin: 0 auto;
}

.aboutus-img {
  width: 100%;
}

.aboutus-description {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 3rem;
}

.section-heading {
  margin: 0 auto;
  text-align: center;
}

/**************************/
/* Stats */
/**************************/

.section-stats {
  height: 100%;
}

.stats-items {
  row-gap: 2rem;
  column-gap: 4rem;
}

.stats-item {
  padding: 4rem;
  background: var(--primary);
  color: var(--white);
  width: 25rem;
  height: 20rem;
  margin: 2rem auto;
  box-shadow: 15px 27px 15px -3px rgba(90, 85, 231, 0.401);
  border-radius: 9px;
}

.icon {
  font-size: 4rem;
  text-align: center;
}
.card-title {
  font-size: 1.5rem;
  text-align: center;
}

.count {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}
.stats-text {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 2rem 0 3rem 0;
  text-align: center;
}

/**************************/
/* Teams */
/**************************/

#team {
  margin: 5rem auto;
  height: 100%;
}

.h2-text {
  font-size: 3rem;
  margin: 8rem 0 3rem 0;
  color: #2c2c2c;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-team {
  width: 100%;
  row-gap: 2rem;
  column-gap: 4rem;
  font-size: 2rem;
}

.box {
  position: relative;
  width: 30rem;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);

  align-self: center;
  justify-self: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.top-bar {
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-check-circle {
  color: #17b667;
}

/* creating heart */
.heart {
  color: rgba(155, 155, 155);
}
.heart::before {
  content: "\f004";
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}
.box .heart-btn:checked ~ .heart::before {
  color: #e41934;
}
.heart-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}

.content img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content strong {
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}
.content p {
  font-size: 0.9rem;
  color: #7a7a7a;
  margin: 4px 0px 10px 0px;
  cursor: pointer;
}
.content p:hover {
  text-decoration: underline;
}

.btn__card {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn__card a i {
  margin-right: 9px;
}
.btn__card a {
  border-radius: 20px;
  color: #8b8b8b;
  padding: 8px 20px;
  font-size: 1.5rem;
  margin: 0 auto;
}
.btn__card a:hover {
  color: #fff;
  box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.05);
  background-color: #507bfc;
  transition: all ease 0.5s;
}

/**************************/
/* Testimonial */
/**************************/

/* .container-testimonial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial {
  position: relative;
  max-width: 900px;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
/* 
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
} */
